{% verbatim %}
<div class="container">
    <h1 class="black" style="margin-top:150px;">Posts</h1>
    <div ng-repeat="post in posts">
        <h3 class="black">{{post.title}}</h3>
        <div ng-bind-html="post.content.brief"></div>
    </div>
</div>
{% endverbatim %}
