{% verbatim %}
<div id="free-room" ngCloak>
	<img src="img/bgs/landing-page-bg-comp.png" class="lp-bg" />
	<div class="container content">
		<div class="row">
			<div class="col-xs-12 text-center white-bg padded-vert-2x">

					<div class="row">

						<div class="col-md-6" box-height>
							<a class="logo" ui-sref="home" ng-if="isMobile">
								<img src="img/CS-logo-black.png" class="img-fluid" alt=" Cedar and Sage logo"/>
								<div class="text">
									<h2 class="black">Cedar + Sage</h2>
									<h5 class="black">Interior Design Studio</h5>
								</div>
							</a>
							<h1 class="forest">Enter to win a free<br />E-design space</h1>
							<p class="caps padded-top">Sign up for the chance to win a free E-designed space for you or gift it to a friend.  Cedar and Sage Design services are completely customizable to your needs. Let's get connected online to create that dream space.</p>
							<div ng-if="isMobile">
								<h3 class="forest text-left">Learn more about E-Design</h3>
								<div class="embed-responsive embed-responsive-16by9">
							        <video width="400" controls>
							            <source src="img/videos/CS-website-video-compressed.mp4" type="video/mp4">
							                Your browser does not support HTML5 video.
							        </video>
							    </div>
							</div>
							<p class="caps padded-vertical">Winner will be announced May 15th 2018</p>
							<form ng-submit="signup()">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label class="sr-only" for="firstName">First Name</label>
											<input ng-model="signupForm.firstName" type="text" class="form-control" id="firstName" placeholder="First Name" required/>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="sr-only" for="lastName">Last Name</label>
											<input ng-model="signupForm.lastName" type="text" class="form-control" id="lastName" placeholder="Last Name"required />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<label class="sr-only" for="email">Email</label>
											<input ng-model="signupForm.email" type="email" class="form-control" id="email" placeholder="Email Address" required/>
										</div>
									</div>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="signupForm.include" checked> <span class="caps">I Agree to the <a href="/terms-and-conditions" class="black underline">Terms and Conditions</a></span>
									</label>
								</div>
								<button type="submit" class="btn btn-green btn-lg">Sign Up</button>
							</form>
						</div>

						<div class="col-md-6" target-height ng-if="!isMobile">
							<div class="video-box">
								<a class="logo" ui-sref="home">
				            		<img src="img/CS-logo-black.png" class="img-fluid" alt=" Cedar and Sage logo"/>
				            		<div class="text">
				                		<h2 class="black">Cedar + Sage</h2>
				                		<h5 class="black">Interior Design Studio</h5>
				            		</div>
				        		</a>
								<h3 class="forest text-left">Learn more about E-Design</h3>
								<div class="embed-responsive embed-responsive-16by9">
							        <video width="400" controls>
							            <source src="img/videos/CS-website-video-compressed.mp4" type="video/mp4">
							                Your browser does not support HTML5 video.
							        </video>
							    </div>
								<h6 class="forest padded-top">See more from <a ui-sref="home" class="black underline">Cedar and Sage Design</a></h6>
							</div>
						</div>

					</div>

			</div>
		</div>
	</div>
</div>
{% endverbatim %}
