{% verbatim %}
<div id="free-room">
	<img src="img/bgs/landing-page-bg-comp.png" class="lp-bg" />
	<div class="container content">
		<div class="row">
			<div class="col-xs-12 text-center white-bg padded-vert-2x">

					<div class="row">
						<div class="col-md-6" box-height>

							<h1 class="forest">Enter to win a free<br />E-design space</h1>
							<p class="caps padded-top">Sign up for the chance to win a free a free E-designed space for you or gift it to a friend.  Cedar and Sage Design services are completely customizable to your needs. Let's get connected online to create that dream space.</p>
							<p class="caps padded-bottom">Winner will be announced April 30th 2018</p>
							<form>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label class="sr-only" for="firstName">First Name</label>
											<input type="text" class="form-control" id="firstName" placeholder="First Name" required/>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="sr-only" for="lastName">Last Name</label>
											<input type="text" class="form-control" id="lastName" placeholder="Last Name"required />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<label class="sr-only" for="email">Email</label>
											<input type="email" class="form-control" id="email" placeholder="Email Address" required/>
										</div>
									</div>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox"> <span class="caps">I Agree to the <a href="/terms-and-conditions" class="black underline">Terms and Conditions</a></span>
									</label>
								</div>
								<button type="submit" class="btn btn-green btn-lg">Sign Up</button>
							</form>
						</div>
						<div class="col-md-6" target-height>
							<div class="video-box">
								<a class="logo" ui-sref="home">
				            <img src="img/CS-logo-black.png" class="img-responsive" alt=" Cedar and Sage logo"/>
				            <div class="text">
				                <h2 class="black">Cedar + Sage</h2>
				                <h5 class="black">Interior Design Studio</h5>
				            </div>
				        </a>
								<h3 class="forest text-left">Learn more about E-Design</h3>
								<div class="video-responsive">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/kdh08cVW8Os?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>

			</div>
		</div>
	</div>
</div>
{% endverbatim %}
