{% verbatim %}
<page-banner bg-image="../../img/bgs/pricing-banner.png"></page-banner>

<section id="pricing" class="padded-vert-2x">
  <div class="hero-text">
    <h1>Packages</h1>
    <h3>pricing<span class="end-border">  _______</span></h3>
  </div>

  <div class="container content">
    <div class="row">
      <div class="col-xs-12">
          <p class="text-center lead">In my business, We believe it is best to be as transparent as possible regarding cost and client expectations. We think that provides a great base for a successful design experience. Our goal is to get to know you and transform the way that you live through design.</p>
      </div>
    </div>
	
		<ui-view></ui-view>
	</div>

<section class="cta margin-top2x">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3>A ROOM SHOULD NEVER ALLOW THE EYE TO SETTLE IN ONE PLACE.  IT SHOULD SMILE AT YOU AND CREATE FANTASY. - JUAN MONTOYA</h3>
            </div>
        </div>
    </div>
</section>
{% endverbatim %}
