{% verbatim %}
<page-banner bg-image="../../img/bgs/pricing-banner.png"></page-banner>

<section id="pricing" class="padded-vert-2x">
  <div class="hero-text">
    <h1>packages</h1>
    <h3>pricing<span class="end-border">  _______</span></h3>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <p class="caps forest text-center lead">In my business, I believe is is best to be as transparent as possible regarding cost and client expectations. I think that provides a great base for successful design experience. My goal is to get to know you and transform the way that you live through design.</p>
      </div>
    </div>

		<div class="row">
			<div class="col-sm-3 col-sm-offset-2 padded-top2x">
				<div class="pricing-box">
					<h5>The Curator</h5>
					<img class="img-responsive" src="../../img/pricing/curator.png">
				</div>
			</div>
			<div class="col-sm-3 col-sm-offset-2 padded-top2x">
				<div class="pricing-box">
					<h5>Staging Consultation</h5>
					<img class="img-responsive" src="../../img/pricing/staging-consult.png">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-sm-offset-2 padded-top2x">
				<div class="pricing-box">
					<h5>The Professional Opinion</h5>
					<img class="img-responsive" src="../../img/pricing/professional-opinion.png">
				</div>
			</div>
			<div class="col-sm-3 col-sm-offset-2 padded-top2x">
				<div class="pricing-box">
					<h5>3D Renderings</h5>
					<img class="img-responsive" src="../../img/pricing/3d-renderings.png">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-sm-offset-2 padded-top2x">
				<div class="pricing-box">
					<h5>The Works</h5>
					<img class="img-responsive" src="../../img/pricing/the-works.png">
				</div>
			</div>
			<div class="col-sm-3 col-sm-offset-2 padded-top2x">
				<div class="pricing-box">
					<h5>Branding Booklets</h5>
					<img class="img-responsive" src="../../img/pricing/branding.png">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-sm-offset-2 padded-top2x">
				<div class="pricing-box">
					<h5>Clients Choice</h5>
					<img class="img-responsive" src="../../img/pricing/clients-choice.png">
				</div>
			</div>
		</div>
  </div>

</section>

<div class="cta">
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-12">
                <h3>Inspiration is the fuel to our creativity</h3>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
