{% verbatim %}
<page-banner bg-image="../../img/bgs/pricing-banner.png"></page-banner>

<section id="pricing" class="padded-vert-2x">
  <div class="hero-text">
    <h1>Packages</h1>
    <h3>pricing<span class="end-border">  _______</span></h3>
  </div>

  <div class="container content">
    <div class="row">
      <div class="col-xs-12">
          <p class="text-center lead">In my business, I believe it is best to be as transparent as possible regarding cost and client expectations. I think that provides a great base for a successful design experience. My goal is to get to know you and transform the way that you live through design.</p>
      </div>
    </div>
	
		<ui-view></ui-view>

		<div class="row quote margin-vertical2x">
			<div class="col text-center">
				<p>“Hayley with Cedar and Sage Design helped me turn an empty office into a beautiful inviting space for my clients. The space had an irregular shape and Hayley provided digital renderings so that I could see the various options for furniture placement. I knew the feel I wanted but didn’t know how to get there. She listened and opened my mind to new ideas and the result was a space that I love going to every day. My clients comment on how comfortable and welcoming the space is so this was a complete success! I highly recommend Hayley at Cedar and Sage Design for your design needs.”</p>
				<p><span class="em-bold">- Rebecca M.</span></p>
			</div>
		</div>
	</div>

<section class="cta margin-top2x">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3>A ROOM SHOULD NEVER ALLOW THE EYE TO SETTLE IN ONE PLACE.  IT SHOULD SMILE AT YOU AND CREATE FANTASY. - JUAN MONTOYA</h3>
            </div>
        </div>
    </div>
</section>
{% endverbatim %}
