{% verbatim %}
<page-banner bg-image="../../img/bgs/radiator-bg.png"></page-banner>

<section id="TOC" class="padded-vert-2x">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="forest padded-bottom2x text-center">Privacy Policy</h3>
        <ul>
          <li ng-repeat="term in terms">{{term}}</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endverbatim %}
