{% block contents %}
	<h3>Hi Hayley,</h3>
	<p>You recieved a new message from cedarandsagedesign.com</p>
	<p>New Message: {{body.note}}<br><br><p>Email: {{body.email}}<br>Name: {{body.name}}</p>
{% endblock %}
