{% block contents %}
	<h3>Hi Hayley,</h3>
	<p>You recieved a new signup from cedarandsagedesign.com</p>
	<p>Email: {{body.email}}<br>Name: {{body.firstName}} {{body.lastName}}<br>Add to email list: {{body.include}}</p>
{% endblock %}
