
#home-banner{
  position: relative;
  height: 700px;
  background: url('../../img/bgs/living-room.png') no-repeat center center;
  background-size: cover;
  .banner-head{
    padding: 10px 0;
    position: relative;
    top: 400px;
    border-top-left-radius: 40px;
  }
  h1{
      font-size: 30px;
      @include mq($S){
          font-size: 48px;
      }
  }
  .separator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom right, transparent, transparent 50%, white 50%, white);
  }
  .separator.reverse {
    transform: rotateY(180deg);
  }
}
@keyframes square_line {
    to{
        stroke-dashoffset: 0;
    }
}
#welcome {
  position: relative;
    .hero-text{
        top: -120px;
        @include mq($S){
            left: 15%;
        }
        @include mq($M){
            left: -80px;
            top: 50px;
            transform: rotate(-90deg);
        }
    }
}
#e-design{
    margin-top: 150px;
    position: relative;
    visibility: visible;
    .hero-text{
      top: -120px;
      visibility: visible !important;
      @include mq($S){
          transform: rotate(-90deg);
          right: -90px;
          top: 100px;
      }
      @include mq($M){
          top: 275px;
          right: -140px;
      }
    }
  .col-md-5{
    .box{
      height: 355px;
      @include mq($S){
        height: 310px;
      }
      @include mq($M){
        height: 347px;
      }
      @include mq($L){
        height: 389px;
      }
      .text-box{
        padding: 0 10px;
        @include vertical-align;
        @include mq($M){
            padding: 0 30px;
        }
        p{
          margin-bottom: 0;
          color: $forest;
        }
      }
    }
    &.left{
      padding-right: 0;
      padding-left: 0;
      @include mq($S){
        padding-left: 15px;
      }
    }
    &.right {
      padding-left: 0;
      padding-right: 0;
      @include mq($S){
        padding-right: 15px;
      }
    }
  }
  .dark-grey{
    background-color: #303030;
  }
  .grey{
    background-color: #4c4c4c;
  }
}

#style {
  position: relative;
  margin-top: 80px;
  .hero-text{
    top: -120px;
    @include mq($S){
      left: 15%;
    }
    @include mq($M){
      left: -80px;
      top: 50px;
      transform: rotate(-90deg);
    }
  }
  img{
    margin: 0 auto;
  }
}
#packages {
  position: relative;
  padding-bottom: 100px;
  .hero-text{
    top: -120px;
    visibility: visible !important;
    @include mq($S){
      transform: rotate(-90deg);
      right: -90px;
      top: 100px;
    }
    @include mq($M){
      top: 275px;
      right: -140px;
    }
  }
  .hex-box{
      width: 170px;
      margin: 0 auto;
  }
  .row:first-child{
    margin-top: 130px;
    .service:last-child {
      margin-left: 0;
      border-left: 4px solid $forest;
      padding-left: 30px;
    }
    .lead{
      margin-top: -100px;
    }
  }
  .service{
    position: relative;
    padding-top: 20px;
  }
  .hexagon-black {
    top: -130px;
    position: relative;
    width: 150px;
    height: 86.60px;
    background-color: $light-black;
    margin: 43.30px 0;
    img{
      margin: 0 auto;
      width: 65px;
      padding-top: 10px;
      &.branding{
        width: 50px;
        padding-top: 10px;
      }
      &.space-planning{
        width: 60px;
      }
    }
    &:before, &:after{
      content: "";
      position: absolute;
      width: 0;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent;
    }
    &:before{
      bottom: 100%;
      border-bottom: 43.30px solid $light-black;
    }
    &:after{
      top: 100%;
      width: 0;
      border-top: 43.30px solid $light-black;
    }
    &:hover{
      background-color: $forest;
      &:before{
        border-bottom: 43.30px solid $forest;
      }
      &:after{
        border-top: 43.30px solid $forest;
      }
    }
  }
  .hexagon-grey {
    position: relative;
    left: 20px;
    width: 150px;
    height: 86.60px;
    background-color: #ddd;
    margin: 43.30px 0;
    &:before, &:after{
      content: "";
      position: absolute;
      width: 0;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent;
    }
    &:before{
      bottom: 100%;
      border-bottom: 43.30px solid #ddd;
    }
    &:after{
      top: 100%;
      width: 0;
      border-top: 43.30px solid #ddd;
    }
  }
}
