#free-room {
  height: 100vh;
  h1{
    font-size: 40px;
  }
  .lp-bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .content{
      @include mq($M){
        @include vertical-align;
      }
  }
  .left{
      float: left;
      width: 100%;
      @include mq($M){
          float: right;
      }
  }
  .white-bg{
    background-color: rgba(255,255,255,0.9);
    border-radius: 4px;
  }
  .logo{
    display: block;
    float: none;
    padding: 0;
    left: 10%;
    width: 300px;
    @include mq($M){
        width: 100%;
        left: 70%;
        transform: translateX(-50%);
    }
    .text{
      left: 85px;
    }
  }
  .underline{
    text-decoration: underline;
    &:hover{
      color: $forest;
    }
  }
  .video-box{
     @include mq($M){
        @include vertical-align;
     }
  }
}
