#portfolios {
	position: relative;
	.btn-outline {
		&.active {
			color: #fff !important;
   	  background-color: $forest;
      transition: all 0.25s ease-in;
		}
	}
	.portfolio-box {
		height: 333px;
		cursor: pointer;
		overflow: hidden;
		@include mq($S) {
			height: 317px;
		}
		img {
			position: absolute;
			right: 0;
			transition: right 0.5s ease-in;
			&.hide {
				right: -100%;
			}
		}
	}
	.portfolio-slide {
		position: absolute;
		height: 100%;
		width: 100%;
		left: -100%;
		top: 0;
		background: $forest;
		color: white;
		transition: left 0.5s ease-in;
		p{
			margin-bottom: 0;
		}
		&.show{
			z-index: 7;
			left: 0;
		}
		.close {
			color: white;
			z-index: 9;
			position: absolute;
			right: 10px;
			top: 10px;
		}
		.btn-outline {
			@include horz-align;
			&:hover {
				color: black !important;
			}
		}
	}
}
