#post-detail{
    padding-top: 175px;
  .title{
    line-height: 1;
  }
  a{
    &:hover{
      color: $forest;
    }
  }
  .post-content{
    @include vertical-align;
  }
  .post-meta{
    text-align: right;
    h3{
      line-height: 1.2;
    }
  }
}
#posts {
    .hero-text{
        left: 20px;
    }
}
