#post-detail{
    padding-top: 175px;
  .title{
    line-height: 1;
  }
  a{
    &:hover{
      color: $forest;
    }
  }
  .post-content{
    @include vertical-align;
    ul {
        padding: 0;
        margin: 0;
        text-align: center;
        li {
            display: inline-block;
            padding: 5px 20px 5px 10px;
            position: relative;
            &:after{
                content: '|';
                position: absolute;
                right: 0;
            }
            &:last-child{
                &:after{
                    content: '';
                }
            }
        }
    }
  }
  .post-meta{
    text-align: right;
    h3{
      line-height: 1.2;
    }
  }
}
#posts {
    .hero-text{
        left: 20px;
    }
}
.pagination{
	.page-link {
		color: black;
	}
	.page-item.active .page-link {
		background-color: $forest;
		border-color: $forest;
	}
}
