#pricing {
	position: relative;
	.btn-outline {
		&.active {
			color: #fff !important;
   	  background-color: $forest;
      transition: all 0.25s ease-in;
		}
	}
	.hero-text{
	  left: 20px;
	}
	h5{
		text-align: center;
		color: $forest;
	}
	.content{
		padding-top: 150px;
	}
	.pricing-box {
		height: 400px;
		cursor: pointer;
		overflow: hidden;
	}
	img.img-fluid {
		position: absolute;
		right: 0;
		transition: right 0.5s ease-in;
		&.hide {
			right: -100%;
		}
	}
	.pricing-slide {
		position: absolute;
		height: 100%;
		width: 100%;
		left: -100%;
		top: 0;
		background: $forest;
		color: white;
		margin-top: 2em;
		border: 3px solid white;
		transition: left 0.5s ease-in;
		.desc {
			padding: 2.5em 0.75em 0;
		}
		p{
			font-size: 15px;
			padding: 0 1em;
		}
		&.show{
			z-index: 7;
			left: 0;
		}
		.close {
			color: white;
			z-index: 9;
			position: absolute;
			right: 10px;
			top: 10px;
		}
		.btn-outline {
			@include horz-align;
			&:hover {
				color: black !important;
			}
		}
	}
}

#branding {
	.ng-modal{
 		.prev, .next{
 				@include vertical-align;
 				position: absolute;
 		}
 		.next{
 				right: 5px;
 		}
 		.prev{
 				left: 5px;
 		}
 		.ng-modal-dialog{
 				height: 60%;
 		}
 	}
}

#rendering {
	button {
		@include horz-align;
	}
	.embed-responsive video {
		@include horz-align;
		width: 70%;
	}
	.embed-responsive-16by9:before {
	  padding-top: 0 !important;
	}
}
