.hero-text.style {
	left: 20px;
}
#style-container {
	padding-top: 125px;
}
#style-quiz {
	position: relative;
	label > input[type="radio"] {
        visibility: hidden;
        position: absolute;
    }
    label > input[type="radio"] + img,  {
        cursor: pointer;
        border: 4px solid transparent;
    }
    label > input[type="checkbox"] + img, label > input:checked + .color {
        cursor: pointer;
        border: 4px solid transparent;
    }
    label > input:checked + img, label > input:checked + .color {
        border: 4px solid red !important;
        border-radius: 15px;
	}
	.controls {
		@include mq($M) {
			top: 53%;
			transform: translateY(-50%);
			position: absolute;
			width: 100%;
			&.right {
				right: 0;
			}
			&.left{
				left: 0;
			}
		}
		i.hb {
			width: 50px;
			height: 50px;
			cursor: pointer;
		}
	}
	sup {
		color: red;
	}
}
